header  {
    background: orange;
    background: linear-gradient(to bottom, #ffdd15, #ffb013);
    box-shadow: 0px 1px 1px black;
    padding: 0.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background: #DBDFEB;
    font-family: Arial, sans-serif;
    position: relative;
    min-width: 320px;
}

h2 {
    font-size: 1.6em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left:0.2em;
}

body, h2 {
    margin: 0;
}

html, body{
    height:100%;
}


h1 {
    display: inline-block;
    padding-left: 0.5em;
    font-size: 1.5em;
}

footer {
    text-align:center;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.banner{
    display:flex;
    align-items: center;
    width:100%;
    height:100%;
}

.main-container {
    list-style-type: none;
    max-width: 800px;
    margin: 0 auto 0;
    padding-left: 3%;
    padding-right: 3%;
}

.logo{
    height: 100%;
}

@media screen and (max-width: 399px){
    .input {
        flex-direction: column;
    }
    input[type=password]{
        width:100%;
    }
    
    .main-container button{
        width: 100%;
        margin-left: 0%;
    }
    
    .input input[type=text]{
        width: 100%;
    }
}

@media screen and (min-width: 400px){
    .input {
        flex-direction: row;
    }
    input[type=password]{
        width:50%;
    }
    .input label{
        flex: 1 0 120px;
    }
    
    .main-container button{
        width: 50%;
        margin-left: 25%;
    }
    
    .input input[type=text]{
        width: 50%;
    }
}

@media screen and (min-height: 350px){
    .fixFooter{
        position: absolute;
    }
}
@media screen and (max-height: 349px){
    .fixFooter{
        position: relative;
    }
}

.input {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 10px;
}

.input label {
    flex-wrap: wrap;
    max-width: 50%;
    padding: 8px 0px;
}

.main-container button {
    padding: 10px 16px;
    border: 1px solid #acacac;
    border-radius: 8px;
    background: linear-gradient(to bottom, #c1c1c1, #acacac);
}

input[type=text]{
    padding: 8px 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password]{
    padding: 8px 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
}

form:valid button {
    border: #1e6c9d thin;
    background: linear-gradient(to bottom, #1881ad, #1e6c9d);
    color:white;
}

form:invalid button {
    border: #999999 thin;
    background: linear-gradient(to bottom, #cbcbcb, #999999);
}

.burger-part{
    display:none;
}

.navigation a, .link, .sub-menu-link{
    text-decoration: none;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    border: #1e6c9d thin;
    border-radius: 5px;
   
    /*background: #2989d8;
    background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);*/
    background: linear-gradient(to bottom, #1881ad, #1e6c9d)
}

.burger-container{
    display:none;
    position:relative;
    background: linear-gradient(to bottom, #1881ad, #1e6c9d);
    width: 50px;
    height: 50px;
    justify-content:center;
    border-radius: 10px;
    border: #1e6c9d thin;
    overflow:hidden;
}
.burger-container:hover{
    overflow:visible;
    
}

@media screen and (min-width: 640px){
    .navigation{
        width: 300px;
        display: flex;
        flex-flow: row;
    }

}

@media only screen and (max-width: 639px) {
    .burger-container{
        display:inline-block;
        background: linear-gradient(to bottom, #1881ad, #1e6c9d);
        width: 40px;
        height: 27.5px;
        border-radius: 10px;
        padding-top: 10px;
    }
    .burger-part {
        display: flex;
        width: 12px;
        height: 2px;
        background-color: white;
        margin: 2px 33%;
    }
    .link{
        display:none;
    }
    .sub-menu{
        margin-top: 40%;
        margin-left: -115px;
        display:flex;
        flex-wrap:wrap;
        width:150px;
        height:75px;
        border-radius: 7px;
        background: white;
        height: 90px;
        box-shadow: 2px 2px 1px lightgrey;
    }
    .sub-menu > a{
        margin: 3% 3% 3% 3%;
        width: 100%;
        height:25%;

    }
    
    .navigation{
        display:none;
    }

}

@media screen and (min-width:768px) and (max-width: 1023px){
    #line{
        padding-right:5%;
    }
    .elem-container{
        min-width:45%;
        max-width:48%;
    }
}

@media screen and (min-width:1024px) and (max-width: 1299px){
    .elem-container{
        max-width:100%;
        min-width:235px;
    }
}

@media screen and (min-width:1024px){
   .bigScreen{
       display:flex;
       flex-direction: row-reverse;
   }
   
   #line{
       padding-right:0;
   }
   
}

@media screen and (min-width:1300px){
    .elem-container{
        max-width:48%;
        min-width:45%;
    }
}

@media screen and (max-width:500px){
    .device-container{
        max-width:100%;
    }
}

@media only screen and (min-width: 501px) {
    .row-wrapper {
        display: flex;
        margin:auto;
        max-width: 100%;
        flex-direction: row;
        flex-flow: wrap;
    }
}

@media screen and (min-width:501px) and (max-width:1023px){
    .elem-container{
        max-width: 48%;
        min-width:45%;
    }
}

.production-container {
    background: url("../images/arrows.png") no-repeat left top;
    background-size: 100% auto;
    width: 725px;
    height: 550px;
    position: relative;
}

.production-device {
    position: absolute;
    width: 100px;
    height: 100px;
}

.device-container {
    display: flex;
    flex: 1 0 200px;
    margin: 4px;
    /*max-width: 360px;*/
    border: #999999 1px solid;
    border-radius: 7px;
    background: linear-gradient(to right, #f1f3f7 0, #f1f3f7 100px, white 100px, white 100%);
}

.inner-img {
    flex: 0 0 100px;
    line-height: 100px;
    position: relative;
    cursor:move;
}

.inner-img img {
    /*vertical-align: middle;*/
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.inner-label {
    flex: 1 1 auto;
    /*background-color: white;*/
}

.inner-label ul {
    padding: 10px;
    margin: 0;
}

.inner-label ul li {
    list-style-type: none;
}

@media screen and (min-width: 501px) and (max-width: 1023px) {
    .elem-container {
        max-width: 48%;
        min-width:45%;
    }
}

@media only screen and (min-width: 768px) {

    .device-types{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .device-container {
        position: absolute;
        width: 100px;
        height: 100px;
        background: transparent;
        border: 0;
        margin: 0;
    }

    .inner-img, .image-inside {
        width: 100px;
    }

    .inner-img img{
        position: absolute;
        width: 100px;
        height: 100px;
    }

    .inner-label{
        display: none;
    }

    .row-wrapper {
        background: url("../images/arrows.png") no-repeat left top;
        background-size: 100% auto;
        width: 725px;
        height: 550px;
        position: relative;
    }

    .top-device {
        top: 48px;
    }

    .middle-device {
        top: 225px;
    }

    .bottom-device {
        bottom: 70px;
    }

    .left-device {
        left: 70px;
    }

    .centered-device {
        left: 315px;
    }

    .off-centered-device {
        left: 325px;
    }

    .right-device {
        right: 70px;
    }

    .left-indented-device {
        left: 190px;
    }

    .right-indented-device {
        left: 440px
    }

    .availableElemGroup {
        display: flex;
        margin:auto;
        max-width: 725px;
        flex-direction: row;
        flex-flow: wrap;
    }

    .productionchain-images{
        display: block;
    }
    .inner-label ul li, .label-inside ul li {
        display:table-caption;
        width: 100%;
    }
    .device-container{
        min-height: 100px;
    }
    
    #prodChainText{
        display:none;
    }
    
    .prodchainHeader p {
        width:71%;
    }
    
    .connections{
        display: block;
        margin:auto;
        max-width: 725px;
    }
    
}

@media screen and (min-width:501px) and (max-width:767px){
    .device-container{
        max-width: 48%;
        min-width:45%;
    }
}
@media screen and (max-width:500px){
    .device-container{
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    
    .device-types{
        display:none;
    }
    
    .generalName{
        display: none;
    }
    .inner-label ul li, .label-inside ul li {
        margin-bottom: 0px;
    }
    
    /*#prodChainImage{
        display:none;
    }*/
    
    #line{
        display:none;
    }
    .prodchainHeader p {
        width:70%;
    }
    
    #availableElems{
        display:none;
    }
    .connections, .elems{
        display:none;
    }
}

.elem-container{
    display: flex;
    flex: 1 0 200px;
    margin: 4px;
    /*max-width: 360px;*/
    border: #999999 1px solid;
    border-radius: 7px;
    background: linear-gradient(to right,  #f1f3f7 0,#f1f3f7 100px, white 100px, white 100%);
    cursor:move;
}

.elem-container{
    min-height: 100px;

}
#availableConn{
    min-height: 50px;
}

.productionchain-images{
    margin:auto;
    max-width: 725px;
    margin-top:0;
}

.flex-dev-types{
    width:21.25%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-right:5%;
    min-height:130px;
}

.flex-dev-types button{
    width:100%;
    padding: 10px 5px;
    margin-bottom: 10px;
    border: #1e6c9d thin;
    border-radius: 5px;
    color:white;
    background: linear-gradient(to bottom, #1881ad, #1e6c9d);
}

h3, h4{
  display:inline;
  margin:0px;
  font-size:0.85em;
}

h3{
    margin-top: 20px;
    font-size:1.0em;
}

.flex-dev-types input[type=text]{
    width:100%;
    margin: 10px 0px;
    padding: 9px 10px;
}

input[type=checkbox]{
    position:absolute;
    z-index:0;
    width:17px;
    height:17px;
    margin-left:0px;
}

.customCheckbox {
    position: relative;
}
.customCheckbox label {
	cursor: pointer;
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid grey;
}

.customCheckbox label:after {
	opacity: 0.0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 2px;
	left: 2px;
	border: 3px solid #333;
    
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

.customCheckbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}

select{
    margin: 11px 0px;
    height:10%;
    width: 101%;
    padding: 7.5px 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    outline: none;
    cursor:pointer;
    
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.minimal{
    background-image: linear-gradient(65deg, transparent 50%, black 50%), linear-gradient(115deg, black 50%, transparent 50%);
    background-position: calc(100% - 6px) calc(1em - 2px), calc(100% - 3px) calc(1em - 2px);
    background-size: 3px 5.5px, 3px 5.5px;
    background-repeat: no-repeat;   
}


.prodchainHeader{
    display: flex;
    flex-direction: row;
    margin:auto;
    width:100%;
}

.prodchainHeader p {
    padding-top: 1.75em;
    text-align: right;
    color: grey;
    font-weight: bold;
    font-size:13px;
}

.productionchain-images, .connections, .availableElemGroup{
    padding-left: 2%;
    padding-right: 2%;
}

.production-container{
    border: 1px solid lightgrey;
}

#line{
    border-color: lightgrey;
    max-width: 750px;
    
}

.right-element{
    padding-right:0;
}


#conveyorID, #conveyor-on-off{
    margin-top: 30px;
}

#intelligent-conveyorID, #intelligent-conveyor-on-off{
    margin-top: 12.5px;
}

#buttonCorner{
    margin-top: auto;
    margin-bottom: 25px;
}

.image-inside{
    flex: 0 0 100px;
    line-height: 100px;
    position: relative;
}

.image-inside img{
    /*vertical-align: middle;*/
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.label-inside{
    flex: 1 1 auto;
    /*background-color: white;*/
}

.label-inside ul {
    padding: 10px;
    margin: 0;
}

.label-inside ul li {
    list-style-type: none;
}

nav{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row-reverse;
}

.navigation a{
    text-align:center;
    padding: 10px 5px;
    width: 130px;
    height:20px;
    margin-top:0;
}

.notVisible{
    position: absolute;
    top:auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.notVisible:focus{
    left:auto;
    width:auto;
    height:auto;
}